*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.6rem;
  position: relative;
  overflow-x: hidden; }

.w-80 {
  width: 80%; }
  @media only screen and (max-width: 37.5em) {
    .w-80 {
      width: 100%; } }

.mb-2 {
  margin-bottom: 2rem; }

.mb-4 {
  margin-bottom: 4rem; }

.ta-right {
  text-align: right; }
  @media only screen and (max-width: 37.5em) {
    .ta-right {
      text-align: left; } }

.grid-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.section__title {
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: 0.3rem; }
  .section__title--primary {
    color: #F7BE10; }
  .section__title--secondary {
    color: #24424C; }
    @media only screen and (max-width: 37.5em) {
      .section__title--secondary {
        font-size: 3.8rem;
        line-height: 3.8rem; } }
  .section__title--white {
    color: #fff; }

.section__subtitle {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem; }
  .section__subtitle--gray {
    color: #CCCCCC; }
  .section__subtitle--primary {
    color: #F7BE10; }

.section__description {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.2rem; }
  @media only screen and (max-width: 37.5em) {
    .section__description {
      letter-spacing: 0px; } }
  .section__description--right {
    align-self: flex-end; }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  height: 150vh;
  background-color: #fff;
  box-shadow: -9px 0px 12px 0px rgba(200, 200, 200, 0.3);
  z-index: 5000;
  transform: translateX(0px);
  transition: 1s transform cubic-bezier(0.56, 1.35, 0.69, 1.05); }
  .menu--hidden {
    transform: translateX(300px); }
  .menu__header {
    padding: 2rem;
    display: flex;
    justify-content: start;
    align-items: center; }
  .menu__list {
    margin-top: 2rem; }
  .menu__cloud {
    width: 5rem;
    fill: white;
    transition: fill .3s ease-in-out; }
    .menu__cloud:hover {
      cursor: pointer;
      fill: #F7BE10; }
    .menu__cloud-x1, .menu__cloud-x2 {
      transition: all .3s ease-in-out;
      transform-origin: center; }
    .menu__cloud:hover .menu__cloud-x1 {
      transform: rotate(180deg) translateY(-8.1px); }
    .menu__cloud:hover .menu__cloud-x2 {
      transform: rotate(-180deg) translateY(-8.1px); }
    .menu__cloud-link {
      background-color: transparent;
      border: none; }

.nav__list {
  list-style-type: none; }
  .nav__list-item {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer; }
    .nav__list-item:hover .nav__link {
      color: #F7BE10; }

.nav__link {
  padding: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000;
  transition: all .1s ease-in-out;
  font-weight: 300;
  text-decoration: none;
  text-align: center; }

.active {
  color: #F7BE10;
  font-weight: 400; }

.header {
  grid-column: full-start / full-end;
  margin-top: -8rem; }

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 2000;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .3s height ease-in-out; }
  .navbar--scrolled {
    height: 6rem; }
  .navbar__logo {
    height: 60px;
    transition: .3s height ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .navbar__logo {
        height: 40px; } }
    .navbar__logo--scrolled {
      height: 40px; }
      @media only screen and (max-width: 37.5em) {
        .navbar__logo--scrolled {
          height: 30px; } }
  .navbar__menu {
    color: #000;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar__menu-text {
      margin-right: 1rem; }
    .navbar__menu__arrow {
      transition: .3s all .5s;
      transform: rotateZ(0deg);
      transform-origin: center; }
      .navbar__menu__arrow--rotate {
        transform: rotateZ(180deg) translateY(2px); }
    .navbar__menu__line-bot, .navbar__menu__line-top {
      transform: translateX(0px);
      transition: .3s all; }
    .navbar__menu:hover .navbar__menu__line-bot {
      transform: translateX(12px); }
    .navbar__menu:hover .navbar__menu__line-top {
      transform: translateX(-12px); }

.main {
  display: flex;
  height: calc(95vh - 8rem);
  min-height: 400px;
  margin-top: 8rem; }
  .main__photo {
    position: relative;
    width: 50%;
    border-bottom-right-radius: 20rem;
    overflow: hidden; }
  .main__btn {
    position: absolute;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #F7BE10;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: .3s background-color ease;
    box-shadow: none; }
    .main__btn:hover {
      background-color: #edc858; }
    .main__btn:focus {
      outline: none;
      box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5); }
  .main .btn-next {
    z-index: 100;
    right: 50px;
    bottom: 150px; }
    @media only screen and (max-width: 37.5em) {
      .main .btn-next {
        bottom: 85px;
        height: 20px;
        width: 20px; } }
  .main .btn-prev {
    z-index: 100;
    right: 50px;
    bottom: 100px; }
    @media only screen and (max-width: 37.5em) {
      .main .btn-prev {
        bottom: 60px;
        height: 20px;
        width: 20px; } }
  @media only screen and (max-width: 37.5em) {
    .main .svg-next, .main .svg-prev {
      height: 20px;
      width: 20px; } }
  .main__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
    .main__img--1 {
      background-image: url(../assets/images/hed1.jpg); }
      @media only screen and (max-width: 37.5em) {
        .main__img--1 {
          background-image: url(../assets/images/hed1-mobile.jpg); } }
    .main__img--2 {
      background-image: url(../assets/images/hed2.jpg); }
      @media only screen and (max-width: 37.5em) {
        .main__img--2 {
          background-image: url(../assets/images/hed2-mobile.jpg); } }
    .main__img--3 {
      background-image: url(../assets/images/hed3.jpg); }
      @media only screen and (max-width: 37.5em) {
        .main__img--3 {
          background-image: url(../assets/images/hed3-mobile.jpg); } }
  .main__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem; }
  .main__title {
    z-index: 1000;
    font-size: 8rem;
    line-height: 6.5rem;
    font-weight: 900;
    margin: 6rem 0 4rem -10rem; }
    @media only screen and (max-width: 37.5em) {
      .main__title {
        font-size: 6rem;
        line-height: 4.5rem; } }
    @media only screen and (max-width: 25em) {
      .main__title {
        font-size: 5rem;
        line-height: 4rem; } }
  .main__description {
    width: 60%;
    margin-bottom: 2rem;
    color: #333333;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .main__description {
        font-size: 1.8rem;
        line-height: 2rem; } }

.cta-btn {
  width: 200px;
  padding: 2rem;
  text-align: center;
  font-size: 2.4rem;
  color: #333333;
  background-color: #F7BE10;
  border-radius: 250px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: .3s all ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .cta-btn {
      width: 120px;
      font-size: 1.8rem; } }
  .cta-btn:hover {
    padding: 1.5rem 2rem 2.5rem 2rem;
    transform: translateY(-5px);
    box-shadow: 0px 10px 9px -2px rgba(0, 0, 0, 0.3); }
  .cta-btn:active {
    transition: .05s all linear;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
    transform: translateY(0px); }
  .cta-btn::before {
    content: "";
    position: absolute;
    background-image: url("../assets/cloud-fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: -100%;
    top: 50%;
    transition: .4s all ease-in-out; }
  .cta-btn:hover::before {
    left: -25%; }
  .cta-btn::after {
    content: "";
    position: absolute;
    background-image: url("../assets/cloud-fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    right: -100%;
    top: 50%;
    transition: .4s all ease-in-out; }
  .cta-btn:hover::after {
    right: -25%; }

.about-us {
  margin: 6rem 0; }
  .about-us__text {
    margin: 5rem 0;
    grid-column: center-start / col-end 4;
    grid-row: 1 / 2;
    padding: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .about-us__text {
        padding: 6rem 4rem;
        background-color: rgba(255, 255, 255, 0.4);
        grid-column: full-start / col-end 6;
        z-index: 200;
        border-radius: 0 10rem 10rem 0; } }
  .about-us__image {
    grid-column: col-end 4 / full-end;
    grid-row: 1 / 2;
    background-image: url(../assets/images/about.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20rem 0px 0px 20rem;
    transition: all .3s; }
    .about-us__image:hover {
      transform: scale(1.05);
      border: 0.5rem solid #F7BE10; }
    @media only screen and (max-width: 62.5em) {
      .about-us__image {
        background-image: url(../assets/images/about-mobile.jpg);
        z-index: 100; } }
    @media only screen and (max-width: 37.5em) {
      .about-us__image {
        background-image: url(../assets/images/about-mobile2.jpg);
        z-index: 100; } }

.passion {
  padding: 4rem 0;
  background-color: #F5F6F9; }
  .passion__image {
    background-size: cover;
    background-position: center; }
    .passion__image--1 {
      background-image: url(../assets/images/passionleft.jpg);
      grid-column: full-start / col-start 2;
      grid-row: 1 / 2;
      border-radius: 0 20rem 20rem 0; }
      @media only screen and (max-width: 37.5em) {
        .passion__image--1 {
          grid-column: full-start / col-start 4;
          z-index: 100;
          border-radius: 0 15rem 15rem 0;
          background-image: url(../assets/images/passionleft-mobile.jpg); } }
    .passion__image--2 {
      background-image: url(../assets/images/passionright.jpg);
      grid-column: col-end 7 / full-end;
      grid-row: 1 / 2;
      border-radius: 20rem 0 0 20rem; }
      @media only screen and (max-width: 37.5em) {
        .passion__image--2 {
          grid-column: col-end 5 / full-end;
          z-index: 100;
          border-radius: 15rem 0 0 15rem;
          background-image: url(../assets/images/passionright-mobile.jpg); } }
  .passion__text {
    margin: 4rem 0;
    padding: 4rem;
    grid-column: col-start 2 / col-end 7;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .passion__text {
        padding: 6rem 4rem;
        z-index: 200;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10rem; } }

.academy {
  margin: 6rem 0; }
  .academy__text {
    margin: 5rem 0;
    grid-column: col-end 4 / center-end;
    grid-row: 1 / 2;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .academy__text {
        padding: 6rem 4rem;
        grid-column: col-end 2 / full-end;
        z-index: 200;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10rem; } }
  .academy__image {
    grid-column: full-start / col-end 4;
    grid-row: 1 / 2;
    background-image: url(../assets/images/academy.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 20rem 20rem 0;
    transition: all .3s; }
    @media only screen and (max-width: 50em) {
      .academy__image {
        background-image: url(../assets/images/academy-mobile.jpg); } }
    @media only screen and (max-width: 37.5em) {
      .academy__image {
        grid-column: full-start / col-end 4;
        z-index: 100;
        border-radius: 0 15rem 15rem 0; } }
    .academy__image:hover {
      transform: scale(1.05);
      border: 0.5rem solid #F7BE10; }

.contact {
  margin-top: 12rem;
  background-image: url("../assets/images/contact.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 20rem 20rem 0px 0px;
  height: 85vh;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      border-radius: 15rem 15rem 0px 0px;
      background-image: url("../assets/images/contact-mobile.jpg");
      height: 75vh; } }
  .contact__box {
    grid-column: center-start / col-end 4;
    padding: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__box {
        grid-column: full-start / full-end; } }
  .contact__link {
    padding: .5rem 1rem;
    margin: 1rem 0px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: background-color .4s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .contact__link {
        background-color: rgba(0, 0, 0, 0.3); } }
    .contact__link:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    .contact__link:active {
      transform: translateY(2px); }
  .contact__icon {
    width: 40px; }
    @media only screen and (max-width: 37.5em) {
      .contact__icon {
        width: 30px; } }
  .contact__text {
    margin-left: 1rem;
    letter-spacing: .3rem;
    font-size: 1.8rem;
    font-weight: 300; }
    @media only screen and (max-width: 37.5em) {
      .contact__text {
        letter-spacing: .3rem;
        font-size: 1.4rem; } }

.footer {
  background-color: #191919;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__copy {
    width: 50%;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .36rem;
    line-height: 2rem;
    text-align: center;
    color: rgba(187, 187, 187, 0.3); }
    @media only screen and (max-width: 37.5em) {
      .footer__copy {
        font-size: 1.2rem;
        line-height: 1.6rem;
        width: 90%; } }
