.about-us{
    margin: 6rem 0;

    &__text{
        margin: 5rem 0;
        grid-column: center-start / col-end 4;
        grid-row: 1 / 2;
        padding: 4rem;

        @media only screen and (max-width: $bp-small) {
            padding: 6rem 4rem;
            background-color: rgba($color-white, 0.4);
            grid-column: full-start / col-end 6;
            z-index: 200;
            border-radius: 0 10rem 10rem 0;
        }

    }

    &__image{
        position: relative;
        grid-column: col-end 4 / full-end;
        grid-row: 1 / 2;
        background-image: url(../assets/images/about.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 20rem 0px 0px 20rem;
        transition: all .3s;
        &:hover{
            transform: scale(1.05);
            border: .5rem solid $color-primary;
        }

        @media only screen and (max-width: $bp-large) {
            background-image: url(../assets/images/about-mobile.jpg);
            z-index: 100;
        }

        @media only screen and (max-width: $bp-small) {
            background-image: url(../assets/images/about-mobile2.jpg);
            z-index: 100;
        }
    }

    &__link-details{
        position: absolute;
        padding: 2rem 10rem 2rem 2rem;
        border-radius: 20px;
        font-size: 1.4rem;
        color: $color-gray-darkest;
        background-color: #fff;
        bottom: 3rem;
        right: 2rem;
        font-weight: $font-weight-light;
        transform: translateX(150%);
        transition: transform .3s ease-in-out;

    }
    &__image:hover > .about-us__link-details{
        transform: scale(1.0);
        transform: translateX(10rem);
    }
}