.about-us{
    margin: 6rem 0;
    &__text{
        margin: 5rem 0;
        grid-column: center-start / col-end 4;
        padding: 4rem;
    }

    &__image{
        grid-column: col-end 4 / full-end;
        background-image: url(https://images.unsplash.com/photo-1527114652727-2598c326575f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
        background-size: cover;
        background-position: center;
        border-radius: 20rem 0px 0px 20rem;
    }
}