.academy{
    margin: 6rem 0;

    &__text{
        margin: 5rem 0;
        grid-column: col-end 4 / center-end;
        grid-row: 1 / 2;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-width: $bp-small) {
            padding: 6rem 4rem;
            grid-column: col-end 2 / full-end;
            z-index: 200;
            background-color: rgba($color-white, 0.7);
            border-radius: 10rem;
        }
    }

    &__image{
        grid-column: full-start / col-end 4;
        grid-row: 1 / 2;
        background-image: url(../assets/images/academy.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 0 20rem 20rem 0;
        transition: all .3s;
        @media only screen and (max-width: $bp-small) {
            grid-column: full-start / col-end 4;
            z-index: 100;
            border-radius: 0 15rem 15rem 0;
        }

        &:hover{
            transform: scale(1.05);
            border: .5rem solid $color-primary;
        }
    }

}