$color-black: #000;
$color-white: #fff;

$color-primary: #F7BE10;
$color-secondary: #24424C;
$color-secondary-light: #F5F6F9;



$color-gray-light: #CCCCCC;
$color-gray-medium: #BBBBBB;
$color-gray-dark: #333333;
$color-gray-darkest: #191919;


$font-primary: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 25em;    // 400px;

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 1rem = 10px
    scroll-behavior: smooth;
    overflow-x: hidden;
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
    a{
        text-decoration: none;
    }
}
body {
    font-family: $font-primary;
    color: $color-black;
    font-weight: $font-weight-normal;
    line-height: 1.6rem;
    position: relative;
    overflow-x: hidden;
}

.w-80{
    width: 80%;
    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }
}

.mb-2{
    margin-bottom: 2rem;
}
.mb-4{
    margin-bottom: 4rem;
}

.ta-right{
    text-align: right;
    @media only screen and (max-width: $bp-small) {
        text-align: left;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

}

.section{

    &__title{
        font-size: 4.8rem;
        line-height: 4.8rem;
        letter-spacing: 0.3rem;

        &--primary{
            color: $color-primary;
        }
        &--secondary{
            color: $color-secondary;
            @media only screen and (max-width: $bp-small) {
                font-size: 3.8rem;
                line-height: 3.8rem;
            }
        }

        &--white{
            color: $color-white;
        }
    }

    &__subtitle{
        font-size: 1.6rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;

        &--gray{
            color: $color-gray-light;
        }

        &--primary{
            color: $color-primary;
        }
    }

    &__description{
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: 0.2rem;
        @media only screen and (max-width: $bp-small) {
            letter-spacing: 0px;
        }

        &--right{
            align-self: flex-end;
        }
    }
}