.contact {
    margin-top: 12rem;
    background-image: url("../assets/images/contact.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position:  bottom;
    background-repeat: no-repeat;
    border-radius: 20rem 20rem 0px 0px;
    height: 85vh;
    &__text{
        grid-column: center-start / col-end 4;
        padding: 6rem;
    }

}