.contact {
    margin-top: 12rem;
    background-image: url("../assets/images/contact.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position:  bottom;
    background-repeat: no-repeat;
    border-radius: 20rem 20rem 0px 0px;
    height: 85vh;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        border-radius: 15rem 15rem 0px 0px;
        height: 75vh;
    }

    &__box{
        grid-column: center-start / col-end 4;
        padding: 6rem;

        @media only screen and (max-width: $bp-small) {
            grid-column: full-start / full-end;
        }
    }


    &__link{
        padding: .5rem 1rem;
        margin: 1rem 0px;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        color: $color-white;
        text-decoration: none;
        transition: background-color .4s ease-in-out;
        @media only screen and (max-width: $bp-small) {
            background-color: rgba($color-black, 0.3);
        }
        &:hover{
            background-color: rgba($color-white, 0.3);
        }
        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        width: 40px;
        @media only screen and (max-width: $bp-small) {
            width: 30px
        }
    }

    &__text{
        margin-left: 1rem;
        letter-spacing: .3rem;
        font-size: 1.8rem;
        font-weight: $font-weight-light;
        @media only screen and (max-width: $bp-small) {
            letter-spacing: .3rem;
            font-size: 1.4rem;
        }
    }

}