.footer{
    background-color: $color-gray-darkest;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__copy{
        width: 50%;
        font-weight: $font-weight-light;
        font-size: 1.2rem;
        letter-spacing: .36rem;
        line-height: 2rem;
        text-align: center;
        color: rgba($color-gray-medium, .3);

        @media only screen and (max-width: $bp-small) {
            font-size: 1.2rem;
            line-height: 1.6rem;
            width: 90%;
        }
    }
}