.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 150vh;
    background-color: $color-white;
    box-shadow: -9px 0px 12px 0px rgba(200,200,200,.3);
    z-index: 5000;
    transform: translateX(0px);
    transition: 1s transform cubic-bezier(.56,1.35,.69,1.05);


    &--hidden{
        transform: translateX(300px);
    }

    &__header{
        padding: 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__list{
        margin-top: 2rem;
    }

    &__cloud{
        width: 5rem;
        fill: white;
        transition: fill .3s ease-in-out;

        &:hover{
            cursor: pointer;
            fill: $color-primary;
        }

        &-x1, &-x2{
            transition: all .3s ease-in-out;
            transform-origin: center;
        }
        &:hover &-x1{
            transform: rotate(180deg) translateY(-8.1px);
        }
        &:hover &-x2{
            transform: rotate(-180deg) translateY(-8.1px);
        }

        &-link{
            background-color: transparent;
            border: none;
        }
    }
}

.nav{
    &__list{
        list-style-type: none;

        &-item{
            display: flex;
            align-items: center;
            justify-content: start;
            cursor: pointer;


            &:hover .nav__link{
                color: $color-primary;
            }
        }
    }
    &__link{
        padding: 2rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $color-black;
        transition: all .1s ease-in-out;
        font-weight: $font-weight-light;
        text-decoration: none;
        text-align: center;
    }
}
.active{
    color: $color-primary;
    font-weight: $font-weight-normal;
}

.header {
    grid-column: full-start / full-end;
    margin-top: -8rem;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color-white;
    z-index: 2000;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s height ease-in-out;

    &--scrolled{
        height: 6rem;
    }

    &__logo{
        height: 60px;
        transition: .3s height ease-in-out;

        @media only screen and (max-width: $bp-small) {
            height: 40px;
        }

        &--scrolled{
            height: 40px;
            @media only screen and (max-width: $bp-small) {
                height: 30px;
            }
        }
    }

    &__menu{
        color: $color-black;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: $font-weight-light;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &-text{
            margin-right: 1rem;
        }

        &__arrow{
            transition: .3s all .5s;
            transform: rotateZ(0deg);
            transform-origin: center;

            &--rotate {
                transform: rotateZ(180deg) translateY(2px);
            }
        }

        &__line-bot, &__line-top{
            transform: translateX(0px);
            transition: .3s all;
        }


        &:hover  &__line-bot{
            transform: translateX(12px);
        }
        &:hover  &__line-top{
            transform: translateX(-12px);
        }
    }
}

.main{
    display: flex;
    height:  calc(95vh - 8rem);
    min-height: 400px;
    margin-top: 8rem;

    &__photo{
        position: relative;
        width: 50%;
        border-bottom-right-radius: 20rem;
        overflow: hidden;
    }

    &__btn{
        position: absolute;
        border: none;
        text-decoration: none;
        cursor: pointer;
        background-color: $color-primary;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        transition: .3s background-color ease;
        box-shadow: none;

        &:hover{
            background-color: #edc858;
        }

        &:focus {
            outline: none;
            box-shadow: 0px 0px 5px 5px rgba(255,255,255,.5);
        }
    }

    .btn-next{
        z-index: 100;
        right: 50px;
        bottom: 150px;
        @media only screen and (max-width: $bp-small) {
            bottom: 85px;
            height: 20px;
            width: 20px;
        }
    }
    .btn-prev{
        z-index: 100;
        right: 50px;
        bottom: 100px;
        @media only screen and (max-width: $bp-small) {
            bottom: 60px;
            height: 20px;
            width: 20px;
        }
    }

    .svg{
        &-next, &-prev{
        @media only screen and (max-width: $bp-small) {
            height: 20px;
            width: 20px;

        }
    }
    }

    &__img{
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center;

        &--1{
            background-image: linear-gradient(rgba(100,100,100,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1550701035-c0bb32de8aca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80");
        }

        &--2{
            background-image: linear-gradient(rgba(100,100,100,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1569698045292-e14cb5393e79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
        }
        &--3{
            background-image: linear-gradient(rgba(100,100,100,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1596804597239-268d386ab66e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
        }
        &--4{
            background-image: linear-gradient(rgba(100,100,100,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1527114652727-2598c326575f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
        }
    }

    &__info{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
    }


    &__title {
        z-index: 1000;
        font-size: 8rem;
        line-height: 6.5rem;
        font-weight: $font-weight-black;
        margin: 6rem 0 4rem -10rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 6rem;
            line-height: 4.5rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            font-size: 5rem;
            line-height: 4rem;
        }
    }

    &__description{
        width: 60%;
        margin-bottom: 2rem;
        color: $color-gray-dark;
        font-weight: $font-weight-light;
        font-size: 2.4rem;
        line-height: 3rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            line-height: 2rem;
        }

    }


}

.cta-btn{
    width: 200px;
    padding: 2rem;
    text-align: center;
    font-size: 2.4rem;
    color: $color-gray-dark;
    background-color: $color-primary;
    border-radius: 250px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: .3s all ease-in-out;

    @media only screen and (max-width: $bp-small) {
        width: 120px;
        font-size: 1.8rem;
    }

    &:hover{
        padding: 1.5rem 2rem 2.5rem 2rem;
        transform: translateY(-5px);
        box-shadow: 0px 10px 9px -2px rgba(0,0,0,0.3);
    }
    &:active{
        transition: .05s all linear;
        box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.3);
        transform: translateY(0px);
    }

    &::before{
        content: "";
        position: absolute;
        background-image: url("../assets/cloud-fill.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        left: -100%;
        top: 50%;
        transition: .4s all ease-in-out;
    }
    &:hover::before{
        left: -25%;
    }
    &::after{
        content: "";
        position: absolute;
        background-image: url("../assets/cloud-fill.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        right: -100%;
        top: 50%;
        transition: .4s all ease-in-out;

    }
    &:hover::after{
        right: -25%;
    }

}