.passion{
    padding: 6rem 0;
    background-color: $color-secondary-light;
    &__image{
        background-size: cover;
        background-position:  center;
        &--1{
            background-image: url("https://images.unsplash.com/photo-1596804597239-268d386ab66e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
            grid-column: full-start / col-start 2;
            border-radius: 0 20rem 20rem 0;
        }
        &--2{
            background-image: url("https://images.unsplash.com/photo-1569698045292-e14cb5393e79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
            grid-column: col-end 7 / full-end;
            border-radius: 20rem 0 0 20rem;
        }
    }

    &__text {
        padding: 4rem;
        grid-column: col-start 2 / col-end 7;
        display: flex;
        flex-direction: column;
    }
}